* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
    border: solid 2px black;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}

.pixel {
    display: flex;
    box-sizing: border-box;
    border: solid 1px black;
  /*  width: 58px;*/
}

body html {
    pointer-events: none;
}

